*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: #F6E9D3;
}
.container{
    width: 1000px;
    margin: auto;
    min-height: 100 vh;
    padding-bottom: 150px;
}





header{
    background: url(products/cleo-stracuzza-avA-YuEe2ZA-unsplash.jpg);
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.navbar{
    display: flex;
    list-style: none;
    margin-top: 30px;
}
.navbar {
    display: inline-block;
}
.navbar  {
	color: #3E2808;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
	border-radius: 5px;
}
.nav-bar li a:hover {
	background: #3E2808;
	color: #80a1a5;
}

.logo{
    float: left;
}
.logo img{
    width: 100%;
    padding: 15px 0;
}

.welcome-text {
    width: 100%;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.welcome-text h1 {
	text-align: center;
	color: #F6E9D3;
	text-transform: uppercase;
	font-size: 38px;
	font-family: alfa slab one;
}
h4{
    color: #F6E9D3;
}
.welcome-text a {
	border: 1px solid #3E2808;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	margin-top: 20px;
	display: inline-block;
	color: #3E2808;
    background-color: #80a1a5;
	font-weight: 900;
}
.welcome-text a:hover {
	background: #D9BE94;
	color: #F6E9D3;
}



@media (max-width:600px){
    .container {
width: 100%;
}
.logo {
float: none;
width: 20%;
text-align: center;
margin: auto;
}
.navbar {
float: none;
margin-top: 0;
}
    .navbar li a {
padding: 5px;
font-size: 11px;
}
.navbar {
text-align: center;
}
    
    .welcome-text h1 {
font-size: 30px;
}
}




.drop-down{position: absolute;
padding: 0.5rem 0;
margin: 0.5rem -0.5rem;
background: antiquewhite;
color: #3E2808;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
border-radius: 0.5rem;
font-size: 12px;
display: none;
}
.nav-links{
    display: flex;
    gap: 2rem;
}
.nav-link, .drop-down{list-style: none;
height: 100%; padding: 0.5rem;
font-weight: 600;
cursor: pointer;}

nav ul li a {
    color: #3E2808;
    text-decoration: none;
}

.drop-down {
    list-style: none;
    height: 10%;
    padding: 0.5rem 1rem;
    font-weight: 600;
    cursor: pointer;
}
.nav-link:hover{
    background-color: #D9BE94;
    color: #80a1a5;
    border-radius: 0.3rem;
}

.interiors:hover .drop-down{
display: block;
}


.collections:hover .drop-down{
    display: block;
}

.collections:hover .dropdown-icon{
    transform: rotate(180deg);
}

.interiors:hover .dropdown-icon{
    transform: rotate(180deg);
}

.interiors a {
    display: flex;
}
.collections a {
    display: flex;
}



.dropdown-icon{
    font-size: 20px;
    position: relative;
    right: -5px;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out all;
}

.drop-down li:hover{
    background: #D9BE94;
    color: #80a1a5;
    border-radius: 0.2rem;
}
.content{
    margin-top: 14%;
    color: #3E2808;
    max-width: 620px;
}
.content h1{
    font-size: 50px;
    font-weight: 600;
    line-height: 85px;
    margin-bottom: 1px;
   

}

input[type=text], select, textarea {
    background-color: #3E2808;
    width: 50%;
    color: #D9BE94;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #D9BE94;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  
  }
  
  input[type=submit]:hover {
    background-color: #c0c375;
  }
  .img-plant{
    width: 800px;
    height: 250px;
    border-radius: 1rem;

    }
.image{
    max-width: 50%;
    max-height: 15%;
    float: right;
}
.text{
    padding-right: 30px;
    float: right;}
    
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
        margin: 5% auto;
    }
    .product-area {
        width: 30%;
        margin-bottom: 30px;
        box-shadow: 0 0 13px rgba(0, 0, 0, 0.5);
        position: relative;
        overflow: hidden;
        background-color: #F6E9D3;
        border-radius: 8px;
    }
    .img-area {
        position: relative;
        width: 100%;
    }
    .img-area img {
        width: 100%;
        height: auto;
        display: block;
    }
    a {text-decoration: none;}
    
    .area-1 {
        padding: 10px 20px;
        text-align: center;
        background: #80a1a5;
    }
    .area-2 {
        padding: 10px 20px;
        text-align: center;
        background: #c0c375;
    }
    .area-3 {
        padding: 10px 20px;
        text-align: center;
        background: #bb885e;
    }
    .info-area h3 {
        font-size: 20px;
        margin: 0;
        margin-bottom: 10px;
        color: #3E2808;
        font-family: 'Bebas Neue', sans-serif;
    }
   
   
    .checked {
        color: orange !important;
    }
    .product-price {
        
        background-color: #D9BE94;
        color: #3E2808;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        width: 110PX;
        margin: 0 auto;
    }
    .product-price:hover{
        background-color: #a68c76;
    }
    @media (max-width: 768px) {
        .product-area {
            width: 48%;
        }
    }
    @media (max-width: 576px) {
        .product-area {
            width: 100%;
        }
    }


    .flex{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 12%;
      }
      .user-card {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         background-color: #b08969;
         border-radius: 10px;
         padding: 40px;
         width: 650px;
         position: relative;
         overflow: hidden;
         box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
     }
      
     .user-card:before {
        content: '';
        position: absolute;
        height: 300%;
        width: 173px;
        background: #80a1a5;
        top: -60px;
        left: -125px;
        z-index: 0;
        transform: rotate(17deg);
      }
      
      .user-card-img {
        display: flex;
        justify-content: center;
        align-items: center;   
        z-index: 3;
      }
      
      .user-card-img img {
        width: 150px;
        height: 200px;
        object-fit: cover;
      }
      
      .user-card-info {
        text-align: center;
      }
      
      .user-card-info h2 {
        font-size: 24px;
        color: #F6E9D3;
        margin: 0;
        margin-bottom: 10px;
        font-family: 'Bebas Neue', sans-serif;
      }
      
.user-card-info h4{
    color: #3E2808;
}

      .user-card-info a {
        font-size: 14px;
        margin-bottom: 2px;
       text-decoration-line: underline;
        color: #F6E9D3;
      }
      .user-card-info p {
        font-size: 14px;
        margin-bottom: 2px;
      
        color: #F6E9D3;
      }
      .user-card-info a:hover{
        color: #80a1a5;
      }

      .user-card-info p span {
         font-weight: 700;
         margin-right: 10px;
     }
      @media only screen and (min-width: 301px) {
        .user-card {
          flex-direction: row;
          align-items: flex-start;
        }   
        .user-card-img {
          margin-right: 20px;
          margin-bottom: 0;
        }
      
        .user-card-info {
          text-align: left;
        }
      }
     
      @media (max-width: 300px){
        .flex{
           padding-top: 3%;
        }
        .user-card:before {
           width: 300%;
           height: 200px;
           transform: rotate(0);
        }
        .user-card-info h2 {
           margin-top: 25px;
           font-size: 35px;
        }
        .user-card-info p span {
           display: block;
           margin-bottom: 15px;
           font-size: 18px;
        }
      }

    
    footer{
        background: #c0c375;
        padding-top: 50px;
        position: relative;
        left: 0px;
        bottom: 0px;
        width: 100%;
        margin-top: 150px;
    }
    .container2{
        width: 1140px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        height: 150px;
       
        
    }
    .footer-content{
        width: 33.3%;
    }
    h3{
        font-size: 28px;
        margin-bottom: 15px;
        text-align: center;
        color:#3E2808 ;
    }
    .footer-content p{
        width:190px;
        margin: auto;
        padding: 7px;
    }
    .footer-content ul{
        text-align: center;
    }

    .footer-content a{
        text-decoration: none;
        color: #3E2808;
    }

    .list{
        padding: 0;
    }
    .list li{
        width: auto;
        text-align: center;
        list-style-type:none;
        padding: 7px;
        position: relative;
        
    }
    .list li::before{
        content: '';
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 100%;
        width: 0;
        height: 2px;
        background: #80a1a5;
        transition-duration: .5s;
        
    }
    .list li:hover::before{
        width: 70px;
       
    }
   
    a:hover{
        color: #80a1a5;
    }
    
    .bottom-bar{
        background:#bb885e;
        text-align: center;
        
        
    }
    .bottom-bar p{
        color: #3E2808;
        margin: 0;
        font-size: 16px;
        
    }

    .about-text a {
        border: 1px solid #3E2808;
        padding: 10px 25px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
        margin-top: 20px;
        display: inline-block;
        color: #3E2808;
        background-color: #80a1a5;
        font-weight: 900;
    } 
    
    .about-text {
        width: 100%;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .title h1 {
        text-align: center;
	color: #3E2808;
    border: 1px solid #80a1a5;
    margin-top: 20px;
	text-transform: uppercase;
	font-size: 50px;
	font-family: rubik mono one;
    padding: 30px 20px;
    }

    .title p {
        text-align: center;
	color: #3E2808;
    border: 1px solid #80a1a5;
    margin-top: 25px;
	text-transform: uppercase;
	font-size: 15px;
	padding: 30px 20px;
    }
    .contact{
        background: url(products/kazden-cattapan-DezZVuRdt_8-unsplash.jpg);
        height: 100vh;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
        position: relative;
    }

    .about{
        background: url(images/chris-lee-tLUs5yFvFKg-unsplash\ \(1\).jpg);
        height: 100vh;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
        position: relative;
    }


    .title-2 h1{
        text-align: center;
	color: #D9BE94;
    border: 1px solid #80a1a5;
    margin-top: 20px;
	text-transform: uppercase;
	font-size: 60px;
	font-family: rubik mono one;
    padding: 30px 20px;
    }